# --- Archivos de sistema y Python ---
.DS_Store
__pycache__/
*.pyc
*.pyo

# --- DATOS (Ignorar contenido, mantener estructura) ---

# 1. Datos crudos
data/raw_fastq/*
!data/raw_fastq/.gitkeep

# 2. Referencias FASTA
data/fasta_ref/*
!data/fasta_ref/.gitkeep

# 3. Taxonomía Central (¡CRÍTICO! Son 60GB)
data/taxonomy/*
!data/taxonomy/.gitkeep

# 4. Bases de datos construidas
data/dbs/*
!data/dbs/.gitkeep

# --- RESULTADOS ---
results/reports/*
!results/reports/.gitkeep

results/final_tables/*
!results/final_tables/.gitkeep