# Data manipulation and I/O (03_generate_table.py, 04_generateBarplots.py)
pandas>=2.0.0
openpyxl>=3.1.2

# Plotting and PDF generation (04_generateBarplots.py)
matplotlib>=3.7.0

# API Requests and Database Downloading (00_download_ncbi.py)
requests>=2.31.0

